.home {
  background: red;
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;

  & p {
    font-size: 1.2rem;
  }
}
